-form_for [:admin, article] do |f|
  %input{ :type => 'hidden', :name => 'preview' }/
  .guide
    =link_to 'markdown syntax guide', 'http://daringfireball.net/projects/markdown/syntax', :target => '_blank'
  -unless f.error_messages.blank?
    .errors= f.error_messages
  =render :partial => 'form_fields', :locals => { :f => f }
  .submit.preview
    = f.submit 'Preview', :onclick => "this.form['preview'].value = true"
  .submit= f.submit 'Submit'

-unless article.content.blank?
  #preview
    =render :partial => 'articles/show', :object => article
