!!!
%html
  %head
    %title= @title
    =stylesheet_link_tag 'flogiston-blog-admin'
  %body
    #header
      %ul
        %li= link_to 'articles', admin_articles_path
        |
        %li= link_to 'new article', new_admin_article_path
    #container
      =yield