!!!
%html
  %head
    %title= @title
    =stylesheet_link_tag 'flogiston-blog-admin'
  %body
    #header
      %ul
        -admin_section_links.each do |text, path|
          %li= link_to text, path
          |
    #container
      =yield
